/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*******************************************/
/* MOBILE */
/*******************************************/
@media (width <= 600px) {
  /* Basics */
  img {
    width: 58px;
    aspect-ratio: 230/360;
  }

  body {
    background-color: rgb(0, 0, 0);
    background-image: url("../images/gung3.png");
    background-size: fill;
    clear: both;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
  }

  /* Header */
  header {
    margin: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  #headTitles {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  #titleOne {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 26px;
    margin: 0;
  }

  #titleTwo {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 30px;
    margin: 0;
    text-decoration: underline;
  }

  #infoResetDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #resetButton {
    width: 40px;
    aspect-ratio: 1/1;
    border: none;
    margin: 0px 10px;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #infoButton {
    width: 40px;
    aspect-ratio: 1/1;
    border: none;
    margin: 0px 10px;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #date {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0.5px black;
    margin: 2vw;
  }

  /* Piles and Spread */
  #pileSpreadContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  /* Piles */
  #pilesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 3px 2px -2px rgb(0, 0, 0);
    padding-bottom: 15px;
    margin: 0 10px 0 10px;
  }

  .pileClass {
    box-shadow: 0 0 3px 1px white;
    border-radius: 5%;
    width: 45px;
    aspect-ratio: 230/345;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .pileImg {
    width: 100%;
    aspect-ratio: 230/360;
  }

  /* Spread */
  #spreadContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
  }

  .columnClass {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 185px;
  }

  .spreadRow1 {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }
  .spreadRow2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -70px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }
  .spreadRow3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -140px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }
  .spreadRow4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -210px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }
  .spreadRow5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -280px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }

  /* Hand and Buttons */
  #handContainer {
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: auto;
  }

  /* Left Box */
  #leftBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    width: 20%;
    height: 300px;
  }

  #facedown {
    width: 58px;
    aspect-ratio: 230/360;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    margin-top: 15px;
    z-index: 1;
    position: fixed;
  }


  /* Right Box */
  #rightBox {
    width: 80%;
  }

  #visibleHandContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px 0;
  }

  .handCards {
    width: 58px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
  }

  /* Results */
  #endingOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #resultBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    border-radius: 20px;
  }

  #resultTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #resultCardsDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 10px;
    padding: 0;
    overflow: auto;
    box-shadow: 0 0 2px 2px grey;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .pileResultRows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-shadow: 0 0 1vh 1px rgb(0, 0, 0);
    padding: 0;
    margin: 2%;
    width: 20%;
  }

  .resultCardClass {
    width: 100%;
    aspect-ratio: 230/360;
    padding: 0px;
  }

  .monthsDiv {
    min-height: 260px;
    overflow: auto;
  }

  #resultCloseButton {
    background-color: rgb(68, 131, 78);
    border: rgb(48, 99, 55) 8px solid;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    aspect-ratio: 9/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #resultCloseButton:hover {
    background-color: rgb(48, 99, 55);
    transition: 0.5s;
  }

  /* Info */
  #infoOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #infoBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    border-radius: 20px;
  }

  #infoTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #instructionDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
  }

  .instructions {
    margin: 0 0 10px 0;
    font-size: 14px;
  }

  .monthsDiv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 0 1px 1px grey;
    border-radius: 20px;
    overflow: auto;
    margin: 0 10px 15px 10px;
    padding: 5px;
  }

  .monthRow {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    padding: 5px 2px;
    border-bottom: 1px black solid;
    align-items: center;
  }

  .monthImg {
    width: 100%;
    aspect-ratio: 920/360;
    padding: 2px 5px;
    grid-column-start: 1;
    grid-column-end: 40;
  }

  .monthInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2px 5px;
    grid-column-start: 40;
    grid-column-end: 101;
    font-size: 14px;
  }

  .monthMeaning {
    font-weight: bold;
  }

  #infoCloseButton {
    background-color: rgb(255, 106, 106);
    border: rgb(255, 0, 0) 8px solid;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 80px;
    aspect-ratio: 9/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #infoCloseButton:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
  }

  .greyed {
    opacity: 50%;
  }

  .glowing {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    z-index: 3;
  }

  #emptyMessage {
    display: none;
    font-size: 20px;
  }
}

/*******************************************/
/* TABLET */
/*******************************************/
@media (600px < width <= 1024px) {
  /* Basics */
  img {
    width: 80px;
    aspect-ratio: 230/360;
  }

  body {
    background-color: rgb(0, 0, 0);
    background-image: url("../images/gung3.png");
    background-size: fill;
    clear: both;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
  }

  /* Header */
  header {
    margin: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  #headTitles {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  #titleOne {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 35px;
    margin: 0;
  }

  #titleTwo {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 40px;
    margin: 0;
    text-decoration: underline;
  }

  #infoResetDiv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #resetButton {
    width: 40px;
    aspect-ratio: 1/1;
    border: none;
    margin: 10px 0;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #infoButton {
    width: 40px;
    aspect-ratio: 1/1;
    border: none;
    margin: 10px 0;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #date {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0.5px black;
    margin: 2vw;
  }

  /* Piles and Spread */
  #pileSpreadContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  /* Piles */
  #pilesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 3px 2px -2px rgb(0, 0, 0);
    padding-bottom: 15px;
    margin: 0 20px 0 20px;
  }

  .pileClass {
    box-shadow: 0 0 3px 1px white;
    border-radius: 5%;
    width: 50px;
    aspect-ratio: 230/345;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .pileImg {
    width: 100%;
    aspect-ratio: 230/360;
  }

  /* Spread */
  #spreadContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
  }

  .columnClass {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 270px;
  }

  .spreadRow1 {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -90px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -180px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -270px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -360px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  /* Hand and Buttons */
  #handContainer {
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: auto;
  }

  /* Left Box */
  #leftBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0;
    width: 20%;
    height: 300px;
  }

  #facedown {
    width: 80px;
    aspect-ratio: 230/360;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    margin-top: 15px;
    z-index: 1;
    position: fixed;
  }

  /* Right Box */
  #rightBox {
    width: 80%;
  }

  #visibleHandContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px 0;
  }

  .handCards {
    width: 80px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  /* Results */
  #endingOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #resultBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 30px;
  }

  #resultTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #resultCardsDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    overflow: auto;
    box-shadow: 0 0 2px 2px grey;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .pileResultRows {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0 0 1vh 1px rgb(0, 0, 0);
    padding: 0;
    margin: 1%;
    width: 48%;
  }

  .resultCardClass {
    width: 100%;
    aspect-ratio: 230/360;
    padding: 0px;
  }

  .monthsDiv {
    min-height: 260px;
    overflow: auto;
  }

  #resultCloseButton {
    background-color: rgb(68, 131, 78);
    border: rgb(48, 99, 55) 8px solid;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    aspect-ratio: 9/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #resultCloseButton:hover {
    background-color: rgb(48, 99, 55);
    transition: 0.5s;
  }

  /* Info */
  #infoOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #infoBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    border-radius: 20px;
    padding: 0 30px;
  }

  #infoTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #instructionDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .instructions {
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  .monthsDiv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 0 2px 2px grey;
    border-radius: 20px;
    overflow: auto;
    margin-bottom: 15px;
    padding: 5px;
  }

  .monthRow {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    padding: 5px 2px;
    border-bottom: 1px black solid;
    align-items: center;
  }

  .monthImg {
    width: 100%;
    aspect-ratio: 920/360;
    padding: 2px 5px;
    grid-column-start: 1;
    grid-column-end: 50;
  }

  .monthInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2px 5px;
    grid-column-start: 50;
    grid-column-end: 101;
    font-size: 20px;
  }

  .monthMeaning {
    font-weight: bold;
  }

  #infoCloseButton {
    background-color: rgb(255, 106, 106);
    border: rgb(255, 0, 0) 8px solid;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 80px;
    aspect-ratio: 9/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #infoCloseButton:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
  }

  .greyed {
    opacity: 50%;
  }

  .glowing {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    z-index: 3;
  }

  #emptyMessage {
    display: none;
    font-size: 25px;
  }
}

/*******************************************/
/* Desktop Landscape*/
/*******************************************/
@media (1024px < width) {
  /* Basics */
  img {
    width: 100px;
    aspect-ratio: 230/360;
  }

  body {
    background-color: rgb(0, 0, 0);
    background-image: url("../images/gung3.png");
    background-size: fill;
    clear: both;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
  }

  /* Header */
  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-column-start: 70;
    grid-column-end: 101;
    grid-row-start: 10;
    grid-row-end: 101;
    margin: 0 0 0 0;
  }

  #headTitles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  #titleOne {
    text-align: left;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 100px;
    margin: 0;
    writing-mode: vertical-rl;
  }

  #titleTwo {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 6px 5px black;
    font-size: 50px;
    margin: 0;
  }

  #infoResetDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    bottom: 20px;
    margin: 30px 0;
  }

  #resetButton {
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    margin: 0px 15px;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #infoButton {
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    margin: 0px 15px;
    filter: invert(1);
    opacity: 70%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  #date {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0.5px black;
    margin: 2vw;
  }

  /* Piles and Spread */
  #pileSpreadContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 70;
    grid-row-start: 1;
    grid-row-end: 50;
    margin: 30px 0 0 0;
  }

  /* Piles */
  #pilesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 3px 2px -2px rgb(0, 0, 0);
    padding-bottom: 15px;
    margin: 0 20px 0 20px;
  }

  .pileClass {
    box-shadow: 0 0 3px 1px white;
    border-radius: 5%;
    width: 80px;
    aspect-ratio: 230/345;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .pileImg {
    width: 100%;
    aspect-ratio: 230/360;
  }

  /* Spread */
  #spreadContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
  }

  .columnClass {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 250px;
  }

  .spreadRow1 {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -130px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -260px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -390px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }
  .spreadRow5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -520px;
    background-image: url("../images/back.png");
    background-size: cover;
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  /* Hand and Buttons */
  #handContainer {
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 70;
    grid-row-start: 50;
    grid-row-end: 101;
    overflow: auto;
  }

  /* Left Box */
  #leftBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    width: 15%;
    height: 100%;
  }

  #facedown {
    width: 100px;
    aspect-ratio: 230/360;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    z-index: 1;
    position: fixed;
  }

  /* Right Box */
  #rightBox {
    width: 85%;
  }

  #visibleHandContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 15px;
  }

  .handCards {
    width: 100px;
    aspect-ratio: 230/360;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  }

  /* Results */
  #endingOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #resultBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 30px;
  }

  #resultTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #resultCardsDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }

  .pileResultRows {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    box-shadow: 0 0 1vh 1px rgb(0, 0, 0);
    padding: 0;
    margin: 1%;
    width: 48%;
  }

  .resultCardClass {
    width: 100%;
    aspect-ratio: 230/360;
    padding: 0px;
  }

  .monthsDiv {
    min-height: 260px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #resultCloseButton {
    background-color: rgb(68, 131, 78);
    border: rgb(48, 99, 55) 10px solid;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    aspect-ratio: 12/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #resultCloseButton:hover {
    background-color: rgb(48, 99, 55);
    transition: 0.5s;
  }

  /* Info */
  #infoOverlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none /*change to none later */;
    justify-content: center;
    align-items: center;
  }

  #infoBox {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    border-radius: 20px;
    padding: 0 30px;
  }

  #infoTitle {
    padding: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
  }

  #instructionDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .instructions {
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  .monthsDiv {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 0 0 2px 2px grey;
    border-radius: 20px;
    overflow: auto;
    margin-bottom: 15px;
    padding: 5px;
  }

  .monthRow {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    padding: 5px 2px;
    border-bottom: 1px black solid;
    align-items: center;
    align-self: flex-end;
  }

  .monthImg {
    width: 100%;
    aspect-ratio: 920/360;
    padding: 2px 5px;
    grid-column-start: 1;
    grid-column-end: 50;
  }

  .monthInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2px 5px;
    grid-column-start: 50;
    grid-column-end: 101;
    font-size: 20px;
  }

  .monthMeaning {
    font-weight: bold;
  }

  #infoCloseButton {
    background-color: rgb(255, 106, 106);
    border: rgb(255, 0, 0) 10px solid;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    aspect-ratio: 9/6;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  #infoCloseButton:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
  }

  .greyed {
    opacity: 50%;
  }

  .glowing {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    z-index: 3;
  }

  #emptyMessage {
    display: none;
    font-size: 30px;
  }
}
